<div class="container" style="text-align: center;">
<h1>Contact Us</h1>
<h2>Give us a bell, a wee email or pawp by for a run about.</h2>

<h3>  Bell: 0141 576 6060
</h3>
<h3>Online Correspondence: <a href="mailto:grannyginapets@outlook.com">grannyginapets@outlook.com</a></h3>
<h3>Postal: 45 Animal Row, Glasgow</h3>
</div>

<img class="center-img img-fluid img-thumbnail" src="https://1funny.com/wp-content/uploads/2009/08/picdump_40.jpg"
alt="Kttens on laptop">
