</div class="container">

<h1>It didn't work out!</h1>

<h2>Here at Granny Gina's Home for Furry Friends, we
  are sad to hear that your little family didn't work out.</h2>
  <h2>Have a lovely day.</h2>
</div>

<img class="center-img img-fluid img-thumbnail" src="https://i.pinimg.com/originals/2d/37/ab/2d37ab595697d54c61094894cdbca161.jpg"
/>
