<h1>Adoptions</h1>


<table>
  <tr>
    <th>Adoptions Completed</th>
    <th></th>
  </tr>
    <% for adoption in @adoptions %>
<tr>
  <td><a href="/adoptions/<%= adoption.id %>"><%=
  adoption.owner.name %> adopted <%= adoption.pet.name
  %></a></td>
</tr>
<% end %>
</table>

<form method="get" action="/adoptions/new">
 <input type="submit" value="New Adoption"/>
</form>
