<div class="container">
      <h1>Adoptions.</h1>


      <table class="customer-table">
        <tr>
          <th>Adoptions Completed</th>
        </tr>
        <% for adoption in @adoptions %>
        <tr>
          <td><a class="text-align"
            href="/adoptions/<%= adoption.id %>"><%=
          adoption.owner.name %> adopted <%= adoption.pet.name
          %></a></td>
        </tr>
        <% end %>
      </table>
      <br>
    </br>


      <form method="get" action="/adoptions/new">
        <input class="btn btn-secondary btn-block" type="submit" value="New Adoption"/>
      </form>

    </div>
