<div class="container">

  <div class="column-right">
  <img src="https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2015/12/28101007/how-to-teach-a-dog-to-shake.jpg"
  class="img-fluid img-thumbnail"
  alt="Cute Dog"/>
  </div>

  <h1>New Adoption Inbound.</h1>

  <form method="post" action="/adoptions">

    <div class="form-group">
      <label for="customer-select">
        Select a Customer:
      </label>
      <select class="form-control"
      id="customer-select" name="owner_id">
      <% for owner in @owners %>
      <option value="<%= owner.id %>">
        <%= owner.name %>
      </option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <label for= "pet-select">
      Select a Pet:
    </label>
    <select class="form-control"
    id="pet-select" name="pet_id">
    <% for pet in @pets %>
    <option value="<%= pet.id %>">
      <%= pet.name %>
    </option>
    <%end%>
  </select>
</label>
</div>

<div class="form-group">
  <label for="year-adopted">
    Year Adopted:
  </label>
  <input class="form-control"
  id="year-adopted" name="year_adopted"
  type="number" min="1967" max="2018">
</label>
</div>
<div class="form-group">
  <input class="btn btn-secondary btn-block" type="submit" value="Finalise Adoption"/>
</form>
</div>
</div>
