<div class="container">
  <div class="row">
    <h1>
      Welcome to Granny Gina's Pet Home.
    </h1>
  </div>
  <div class="column">
    <h2>Granny's Vision.</h2>
    <p>Hello fellow animal lovers! Granny Gina has been running Pet Home since 1967 and has since passed down the reigns to her family and friends who equally share in her love for all animals.</p>
    <p>We believe you are not only adopting a pet, but adding to your loving family. That is why we individually care for every little buddy that lodges with us.</p>
    <p>From ensuring they have all the top medical treatement, training and love to let them be the very best creatures they can be.</p>
    <p>Take a scroll through our beautiful roster and find the ideal new family member.</p>
    <p>Peace, Love and Treats.</p>
  </div>
  <div class="column">
    <img src="http://littletonpetcenter.com/wp-content/uploads/2013/06/17418891-dog-school.jpg" class="img-fluid img-thumbnail" alt="Multiple Dogs"/>
  </div>
  <h4>Where furry friends find families.</h4>
</div>
</div>
