<form method="post" action="/pets">
  <label for="pet-name">Name:</label>
  <input id="pet-name" type="text" name="name"/>

  <label for="pet-age">Age:</label>
  <input id="pet-age" type="number" name="age"/>

  <label for="pet-type">Type:</label>
  <input id="pet-type" type="text" name="type"/>

  <label for="pet-breed">Breed:</label>
  <input id="pet-breed" type="text" name="breed"/>

  <label for="pet-admission_date">Admission Date:</label>
  <input id="pet-admission_date" type="text" name="admission_date"/>

  <label for="pet-status">Status:</label>
  <select id="pet-status" name="status">
    <option>
    Looking for a New Home
  </option>
  <option>
    Still in Training
  </option>
  <option>
Happily Adopted
</option>
</select>

<input type="submit" value="Add Pet"/>
</form>
