<div class="container">
  <div class="column-right">
  <img src="https://cdn.images.express.co.uk/img/dynamic/128/590x/secondary/Cute-puppy-pictures-science-why-adorable-puppies-1355345.jpg"
  alt="Cute Dog"/>
  </div>
<h1>Update Sucessful.</h1>
  <h2>Little <%= @pet.name %>'s record was refreshed!</h2></div>



<!-- http://cdn.akc.org/content/article-body-image/siberian_husky_cute_puppies.jpg -->
