nav > ul {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

nav{
  padding-right: 10;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.col-sm
{flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;}

  .py-padding-top: 1.5rem

  .form-group {
    margin-bottom: 1rem;
  }

  .mt-5 {margin-top: 3rem}
  .img-thumbnail {
    padding: .25rem;
    background-color: beige;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    font-family: 'Playfair Display', serif;
  }

  body
  {font-family: 'Open Sans', sans-serif;
  background-color: #2e303e;
  color: beige;}

  a {
    color: beige;}

    a:hover,
    a:focus{
      color: #adada0
    }
    /*
    .flex-container {
    display: flex;
    flex-direction: column;
    } */

    .column{
      float: left;
      width: 50%;
    }

    tr:hover {background-color: grey}
    table, th, td {
      border: 2px solid beige;;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th {
      height: 50px;
    }
    .table-bordered {
    border: 1px solid #dee2e6}
    thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

    .btn {
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s
    }
    .btn-secondary {
      color: #DBCDC6: ;
    }

    .btn-block{
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
    }

    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: 15px;
      margin-left: 15px;
    }

    /* .row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
    } */

    div {
      display: block;
    }
    .form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color;
