nav > ul {
  display: flex;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Playfair Display', serif;
}

body
{font-family: 'Open Sans', sans-serif;
background-color: #2e303e;
color: beige;}

a {
    color: beige;}
    
a:hover,
a:focus{
  color: #adada0
}
