nav > ul {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  overflow: visible;
  list-style-type: none;
  padding: 10pt;
  text-decoration-color: beige;
  background-color: #76818E;
  font-size: 20pt;
    font-weight: bold;

}
/* nav a {
  height: 60px;
  line-height: 60px;
  color: #204156;
  text-decoration: none;
} */


li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #76818E;
  display: block;
}
.active {
  background-color: #76818E;
}

.active {
  background-color: moccasin;
  color: beige;
}
.form-group {
  margin-bottom: 1rem;
}

.img-thumbnail {
  padding: .25rem;
  background-color: beige;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'Playfair Display', serif;
}
h1 {
  font-size: 40px;
}

body
{font-family: 'Open Sans', sans-serif;
background-color: #2e303e;
color: beige;
margin-left: 10pt}

a {
  color: beige;}

  a:hover,
  a:focus{
    color: moccasin;
    cursor: pointer;
  }
  /*
  .flex-container {
  display: flex;
  flex-direction: column;
  } */

  .column{
    float: left;
    width: 50%;
  }
  .column-right{
    float: right;
    width: 50%;
  }
  .column-right-arya {
    float: right;}
  .center{
    flex: center;
  }

  .center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

  .text-align{
    text-align: center;
  }

  tr:hover {background-color: grey}
  table, th, td {
    border: 2px solid beige;;
  }
  table {
    justify-content: space-around;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-style: groove;
    border-color: moccasin;
    border-width: thick;
  }
  .customer-table{width: 50%}
  th {
    height: 50px;
  }
  .table-bordered {
    border: 1px solid #dee2e6}
    thead {
      display: table-header-group;
      vertical-align: middle;
      border-color: inherit;
    }


    .btn{
      display: inline-block;
      font-weight: 500;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s;
      cursor: pointer;
    }

    .pointer{cursor: pointer;}

    .btn:hover {
      background-color: moccasin;
    color: beige;
    }
    .btn-secondary {
      color: #DBCDC6: ;
    }

    .btn-block{
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
    }

    .container {
      width: 90%;
      padding-right: 20pt;
      padding-left: 20pt;
      margin-right: 20pt;
      margin-left: 20pt;
    }

    div {
      display: block;
    }

    .search-container {
      display: flex;
      justify-content: space-evenly;
    }

    .enter-box{
      display:
    }

    label {
      padding: 12px 12px 12px 0;
      display: block;
      font-family: inherit;
      font-size: 15pt;
    }

    .single-search {
      width: 200px;
    }

    .dropdown {
      width: 100%;
      font-size: 1rem;
      line-height: 1.5;
      color: #495057;
      background-color: beige;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      transition: border-color;
    }

    .submit-btn {
      width: 100%;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      font-weight: 500;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      border: 1px solid transparent;

    }


    .form-control {
      width: 25%;
      padding: 10pt;
      font-size: 15pt;
      line-height: 10pt;
      color: #363b38;
      background-color: beige;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      border-radius: 10pt
    }

    .year-adopted
    {width: 23%;
      padding: 10pt;
      font-size: 15pt;
      line-height: 10pt;
      color: #363b38;
      background-color: beige;
      border: 1px solid #ced4da;
      border-radius: .25rem;
      border-radius: 10pt;
    }
