<div class ="container">
<h1><%= @owner.name %> was added!</h1>

<div class="column-right">
<img src="https://s3.amazonaws.com/cdn-origin-etr.akc.org/wp-content/uploads/2015/12/28110239/teaching-dog-to-shake-1024x685.jpeg"
class="img-fluid img-thumbnail"
alt="Cute Dog"/>
</div>
