<div class="container"style="center"><h1><%= @owner.name %>'s details were deleted.</h1></div>

<img class="center-img img-fluid img-thumbnail" src="https://i.pinimg.com/originals/2d/37/ab/2d37ab595697d54c61094894cdbca161.jpg"
/>
