<div class="container">

  <div class="column-right">
  <img src="https://images.pexels.com/photos/50577/hedgehog-animal-baby-cute-50577.jpeg?auto=compress&cs=tinysrgb&h=350"
  class="img-fluid img-thumbnail"
  alt="Cute Dog"/>

  </div>
  <div class="row justify-content-center">
    <div class="col-6">
          <form method="post" action="/owners/<%=@owner.id%>/edit">
            <label for="owner-name">Name:</label>
            <input class="form-control"
            id="owner-name" type="text" name="name"
            value= "<%=@owner.name%>"/>
            <br>
          </br>

            <div class="form-group">
            <input class="btn btn-secondary btn-block"
            type="submit" value="Edit"/>
          </div>
          </form>
        </div>
      </div>
    </div>
