<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Customers.</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% for owner in @owners %>
          <tr>
            <td><a href="/owners/<%= owner.id %>"><%= owner.name %></a></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <form method="get" action="/owners/new">
        <input class="btn btn-secondary btn-block" type="submit" value="Add Customer"/>
      </form>

    </div>
  </div>
</div>
