<div class="container">

  <div class="column-right">
  <img src="http://www.photopoly.net/wp-content/uploads/13032011/24.jpg"
  class="img-fluid img-thumbnail"
  alt="Cute Dog"/>
  </div>
  <div class="row">
    <div class="customer-table">
      <h1>Proud Owners.</h1>
      <table style="width: 99%;">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% for owner in @owners %>
          <tr>
            <td><a href="/owners/<%= owner.id %>"><%= owner.name %></a></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <br>
    </br>

      <form method="get" action="/owners/new">
        <input class="btn" type="submit" value="Add Customer"/>
      </form>

    </div>
  </div>
</div>
