<div class="container">
  <div class="row">
    <div class="col-sm">

      <h1>Customers.</h1>

      <table>
        <tr>
          <th>Name</th>
          <th></th>


        </tr>
        <% for owner in @owners %>
        <tr>
          <td><a href="/owners/<%= owner.id %>"><%= owner.name %></a></td>

        </tr>
        <% end %>
      </table>

      <form method="get" action="/owners/new">
        <input type="submit" value="Add Customer"/>
      </form>

    </div>
  </div>
</div>
