<div class="container">

  <div class="column-right">
  <img src="https://cdn.lifehack.org/wp-content/uploads/2014/11/Girl-and-dog-in-a-field-1024x701.jpg"
  class="img-fluid img-thumbnail"
  alt="Cute Dog"/>
  </div>



<h1>Add Potential Owner.</h1>

<form method="post" action="/owners">
  <div class="form-group">
    <label for="owner-name">Name:</label>
    <input class="form-control" id="owner-name" type="text" name="name"/>
  </div>

  <input class="btn" type="submit" value="Add Potential Owner"/>
</form>
</div>
