<form method="post" action="/owners">
  <label for="owner-name">Name:</label>
  <input id="owner-name" type="text" name="name"/>

  <input class="btn btn-secondary btn-block" type="submit" value="Add Customer"/>
</form>
