<div class="container">

<h1>Add Potential Owner.</h1>

<form method="post" action="/owners">
  <div class="form-group">
    <label for="owner-name">Name:</label>
    <input class="form-control" id="owner-name" type="text" name="name"/>
  </div>

  <input class="btn" type="submit" value="Add Customer"/>
</form>
</div>
