<div class="container"><h1> <%= @owner.name %>'s details Updated!!</h1>

<img src="http://en.protothema.gr/wp-content/uploads/2017/02/c21-605x418.jpg"
class="img-fluid img-thumbnail"
alt="Cute Dog"/>
</div>
